cleanup = false

workDir = '/hps/nobackup/petsalaki/users/alussana/nf_workDir_selphi_2_pssms'

process {

    executor = 'slurm'
    queue = 'standard'
    memory = '8G'
    errorStrategy = 'retry'
    time = '8h'
    container = 'file://env/selphi_2_pssms.sif'

    withLabel: 'phosformer' {

        container = 'file://env/phosformer.sif'
        containerOptions = "-B ${projectDir}/src/phosformer"
    }

}

dag.overwrite = 'true'

executor {

    submitRateLimit = '10sec'
    queueSize = 32

}

singularity {

    enabled = true
    autoMounts = true

}

env {

    out_dir = '/nfs/research/petsalaki/users/alussana/selphi_2_pssms'
    selphi_2_k_p_info = '/nfs/research/petsalaki/shared_folder/selphi_2/k_p_without_features_20240913'
    selphi_2_features_table = '/nfs/research/petsalaki/shared_folder/selphi_2/out/randfor-sets/kinase-psite-sign-preds-zero-large-rcsf-filt-sign.tsv'
    selphi_2_functional_features_table = '/nfs/research/petsalaki/shared_folder/selphi_2/out/randfor-sets/kinase-psite-sign-preds-zero-fun-rcsf-filt-sign.tsv'
    selphi_2_regulation_features_table = '/nfs/research/petsalaki/shared_folder/selphi_2/out/randfor-sets/kinase-site-sign-pos-set-zero-large-rcsf-filt-sign.tsv'
    selphi_2_k_p_pos_set = '/nfs/research/petsalaki/shared_folder/selphi_2/out/positive-set-new.tsv'
    ser_thr_pssm_bg_scores = "${projectDir}/data/ST_pssm_background_scores.tsv.gz"
    tyr_pssm_bg_scores = "${projectDir}/data/Y_pssm_background_scores.tsv.gz"

}

params {

    url_ser_thr_kinome_2023_suppl_table_2 = 'https://static-content.springer.com/esm/art%3A10.1038%2Fs41586-022-05575-3/MediaObjects/41586_2022_5575_MOESM4_ESM.xlsx'
    url_tyr_kinome_2024_suppl_table_2 = 'https://static-content.springer.com/esm/art%3A10.1038%2Fs41586-024-07407-y/MediaObjects/41586_2024_7407_MOESM4_ESM.xlsx'
    url_uniprot_reference_proteome_tsv = 'https://rest.uniprot.org/uniprotkb/stream?fields=accession%2Cgene_primary&format=tsv&query=%28organism_id%3A9606%29+AND+%28reviewed%3Atrue%29'
    human_url = 'https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/idmapping/by_organism/HUMAN_9606_idmapping.dat.gz'
    n_jobs = 16

}